<!DOCTYPE html>
<html>
<head>
  <title>VoterRegistration</title>
  <%= stylesheet_link_tag    "voter_registration/application", :media => "all" %>
  <%= javascript_include_tag "voter_registration/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
